.linha {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

h1 {
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
}

.App {
  margin: auto;
  max-width: 900px;
}